@font-face {
	font-family:'HARRYP';
	src: url("../assets/HARRYP__.TTF");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'HARRYP';
	src: url("../assets/HARRYP__.TTF");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'HARRYP';
	src: url("../assets/HARRYP__.TTF");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family:'HARRYP';
	src: url("../assets/HARRYP__.TTF");
	font-weight: 700;
	font-style: normal;
}